@charset "utf-8";
.mb-banner{display: none;}
.banner {
  padding-top: 50px;
  width: 100%;
  margin-bottom: 300px;
}
.banner-warp {
  width: 100%;
  position: relative;
}

.banner-warp > img {
  width: 100%;
}
/* .top-left-bb > img, .top-right-bb > img , .bottom-bb > img{
  width: 30%;
} */
/* 탑 왼쪽 말풍선 */
.top-left-bb {
  width: 30%;
  position: absolute;
  left: 3%;
  top: 5%;
}
.top-left-bb > img {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.top-left-bb > img {
  position: relative;
  animation: fadeInUp 4s;
  animation-iteration-count: 5;
}
/* 탑 오른쪽 말풍선 */
.top-right-bb {
  width: 30%;
  position: absolute;
  right: 3%;
  top: 7%;
}
.top-right-bb > img {
  width: 100%;
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}

.top-right-bb > img {
  position: relative;
  animation: fadeInUp 5s;
  animation-iteration-count: 5;
}

/* 바텀 말풍선 */
.bottom-bb {
  width: 100%;
}
.bottom-bb > img {
  width: 100%;
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 20%;
}

@media (max-width: 678px) {
  .banner {
    padding-top: 50px;
  }
}
@media (max-width: 400px) {
  .banner-warp {
    display: none;
  }
  .mb-banner {
    display: block;
    width: 100%;
  }

  .mb-banner > img {
    width: 100%;
  }
}
