@charset "utf-8";
.banner {
  width: 100%;
  margin-bottom: 300px;
}
.banner-warp {
  width: 100%;
  position: relative;
}

.banner-warp > img {
  width: 100%;
}
/* .top-left-bb > img, .top-right-bb > img , .bottom-bb > img{
  width: 30%;
} */
/* 탑 왼쪽 말풍선 */
.top-left-bb {
  width: 30%;
  position: absolute;
  left: 3%;
  top: 5%;
}
.top-left-bb img {
  width: 100%;
}
/* 탑 오른쪽 말풍선 */
.top-right-bb {
  width: 100%;
}
.top-right-bb {
  width: 30%;
  position: absolute;
  right: 3%;
  top: 7%;
}
.top-right-bb img {
  width: 100%;
}
/* 바텀 말풍선 */
.bottom-bb {
  width: 100%;
}
.bottom-bb > img {
  width: 30%;
  position: absolute;
  right: 5%;
  bottom: 20%;
}
