@charset "utf-8";
.login {
  width: 100%;
  padding-top: 300px;
}
.login-inner {
  width: 70%;
  display: block;
  margin: 0 auto;
  /* background-color: aquamarine; */
}
.login-inner > img {
  width: 63%;
  display: block;
  margin: 0 auto;
}
.login-main {
  width: 25%;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 300px;
}
.login-main h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 80px;
}
.login-main input {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 10px;
}
.login-main input::placeholder {
  padding: 10px;
}
.login-main > .btn {
  width: 100%;
  display: flex;
  margin: 0 auto;
  gap: 2%;
}
.login-main > .btn > input {
  background-color: #ff8f4e;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}
.remember-check {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 60px;
  border: none;
  border-radius: 10px;
}
.login-main > .remember-check > a {
  color: red;
}
/* 반응형============================= */
@media screen and (max-width: 1000px) {
  .login-main h2 {
    font-size: 50px;
    margin-bottom: 20px;
  }
.remember-check{
  margin-top: 30px;
}
.login-main > .remember-check > a {
  font-size: 14px;
}
}
@media screen and (max-width: 768px) {
  .login-main{
    width: 32%;
  }
  .login-main h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
.remember-check{
  margin-top: 40px;
  margin-bottom: 10px;
}
.login-main > .remember-check > a {
  font-size: 10px;
}
.login-main input{
  height: 40px;
}
.login-inner > img {
  width: 80%;
}
}
@media screen and (max-width: 600px) {
  .login-main{
    width: 38%;
  }
  .login-main h2 {
    font-size: 35px;
    margin-bottom: 25px;
  }
.remember-check{
  margin-top: 40px;
  margin-bottom: 10px;
}
.login-main > .remember-check > a {
  font-size: 10px;
}
.login-main input{
  height: 40px;
  margin-bottom: 10px;
}
.login-inner > img {
  width: 90%;
}
}
@media screen and (max-width: 400px) {
  .login {
    padding-top: 100px;
  }
  .login-main{
    width: 38%;
    padding-top: 100px;
  }
  .login-main h2 {
    font-size: 25px;
    margin-bottom: 15px;
  }
.remember-check{
  margin-top: 20px;
  margin-bottom: 10px;
}
.login-main > .remember-check > a {
  font-size: 9px;
}
.login-main input{
  height: 30px;
  margin-bottom: 10px;
}
.login-inner > img {
  width: 90%;
}
.login-main input::placeholder{
  font-size: 12px;
}
.login-main > .btn > input {
  font-size: 12px;
}
}
@media screen and (max-width: 320px) {
  .login-main{
    padding-top: 105px;
  }
  .login-main h2 {
    font-size: 20px;
    margin-bottom: 5px;
  }
.remember-check{
  margin-top: 18px;
  margin-bottom: 5px;
}
.login-main > .remember-check > a {
  font-size: 8px;
}
.login-main input{
  height: 30px;
  margin-bottom: 10px;
}
.login-inner > img {
  width: 90%;
}
.login-main input::placeholder{
  font-size: 10px;
}
.login-main > .btn > input {
  font-size: 10px;
}
}
