@charset "UTF-8";

@import url("header.css");
@import url("banner.css");
@import url("best5.css");
@import url("popup-store.css");
@import url("mini-banner.css");
@import url("swiper.css");
@import url("community.css");
@import url("footer.css");
@import url("loginpage.css");
@import url("subpage.css");
@import url("detailpage.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: #855333;
  text-decoration: none;
}

ul,
li {
  list-style: none;
}
body {
  background-color: #fff6e5;
  color: #855333;
  width: 100%;
  font-family: "Arimo", sans-serif;
}
img {
  vertical-align: middle;
  border: 0;
}
.warp {
  width: 100%;
  position: relative;
}
@media (max-width: 1200px) {
  .banner {
    margin-bottom: 200px;
  }

  .best5 {
    margin-bottom: 180px;
  }

  .popup-store {
    margin-bottom: 200px;
  }

  .knotted-banner {
    margin-bottom: 200px;
  }

  .target-swiper {
    margin-bottom: 200px;
  }
  .mini-banner {
    margin-bottom: 200px;
  }

  .pet-swiper {
    margin-bottom: 200px;
  }

  .community {
    margin-bottom: 200px;
  }
}
@media (max-width: 800px) {
  .banner {
    margin-bottom: 150px;
  }

  .best5 {
    margin-bottom: 120px;
  }

  .popup-store {
    margin-bottom: 150px;
  }

  .knotted-banner {
    margin-bottom: 150px;
  }

  .target-swiper {
    margin-bottom: 150px;
  }
  .mini-banner {
    margin-bottom: 150px;
  }

  .pet-swiper {
    margin-bottom: 150px;
  }

  .community {
    margin-bottom: 150px;
  }
}
@media (max-width: 450px) {
  .banner {
    margin-bottom: 80px;
  }
  .best5 {
    margin-bottom:60px;
  }

  .popup-store {
    margin-bottom: 80px;
  }

  .knotted-banner {
    margin-bottom: 80px;
  }

  .target-swiper {
    margin-bottom: 80px;
  }
  .mini-banner {
    margin-bottom: 80px;
  }

  .pet-swiper {
    margin-bottom: 80px;
  }

  .community {
    margin-bottom: 80px;
  }
}
