@charset "utf-8";
.knotted-banner {
  width: 100%;
  margin-bottom: 300px;
}
.knotted-inner {
  width: 100%;
}

.knotted-inner > img {
  width: 100%;
}
.mini-banner {
  position: relative;
  overflow: hidden;
  padding: 20px 0; /* 배너 위아래 여백 */
}

.miniBn-left,
.miniBn-rigth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 140px;
  opacity: 0; /* 초기 상태에서 숨기기 */
  transform: translateX(-150px); /* 왼쪽 배너 초기 위치 */
  transition: all 0.8s ease-in-out;
}
.miniBn-left{
  padding-right: 10%;
}
.miniBn-rigth {
  padding-left: 10%;
  transform: translateX(150px); /* 오른쪽 배너 초기 위치 */
}

.minibn-img {
  width: 80%;
}

.minibn-img > img {
  width: 100%;
}

/* 버튼 */
.more-btn {
  display: flex;
  gap: 20px;
  align-items: center;
}

.more-btn > div {
  width: 20px;
  height: 100%;
}

.more-btn div > img {
  width: 100%;
}

.more-btn > p {
  padding-top: 3%;
  font-weight: bold;
  font-size: 28px;
}

/* 애니메이션 실행 시 */
.show {
  opacity: 1; /* 보이게 설정 */
  transform: translateX(0); /* 원래 위치로 이동 */
}




/* 반응형============================================ */
@media screen and (max-width: 1000px) {
  .miniBn-left {
    margin-bottom: 50px;
    padding-right: 3%;
  }
  .miniBn-rigth {
    padding-left: 3%;
  }
  .more-btn {
    gap: 20px;
  }
  .more-btn > div {
    width: 18px;
  }
  .more-btn > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 900px) {
  .miniBn-left {
    margin-bottom: 50px;
    padding-right: 3%;
  }
  .miniBn-rigth {
    padding-left: 3%;
  }
  .more-btn {
    gap: 20px;
  }
  .more-btn > div {
    width: 18px;
  }
  .more-btn > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .miniBn-left {
    margin-bottom: 40px;
  }
  .more-btn {
    gap: 12px;
  }
  .more-btn > div {
    width: 13px;
  }
  .more-btn > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 650px) {
  .miniBn-left {
    margin-bottom: 40px;
  }
  .more-btn {
    gap: 9px;
  }
  .more-btn > div {
    width: 12px;
  }
  .more-btn > p {
    font-size: 16px;
  }
}
@media screen and (max-width: 540px) {
  .miniBn-left {
    margin-bottom: 30px;
    padding-right: 3%;
  }
  .miniBn-rigth {
    padding-left: 3%;
  }
  .more-btn {
    gap: 5px;
  }
  .more-btn > div {
    width: 7px;
  }
  .more-btn > p {
    font-size: 13px;
  }
}
@media screen and (max-width: 400px) {
  .miniBn-left {
    margin-bottom: 30px;
    padding-right: 2%;
  }
  .miniBn-rigth {
    padding-left: 2%;
  }
  .more-btn {
    gap: 5px;
  }
  .more-btn > div {
    width: 5px;
  }
  .more-btn > p {
    font-size: 10px;
  }
}
@media screen and (max-width: 320px) {
  .miniBn-left {
    margin-bottom: 20px;
  }
  .more-btn {
    gap: 5px;
  }
  .more-btn > div {
    width: 5px;
  }
  .more-btn > p {
    font-size: 8px;
  }
}
