@charset "utf-8";
.knotted-banner {
  width: 100%;
  margin-bottom: 300px;
}
.knotted-inner {
  width: 100%;
}

.knotted-inner > img {
  width: 100%;
}
/* 미니배너 영역 */
.mini-banner {
  width: 100%;
  margin-bottom: 300px;
}
.miniBn-inner {
  width: 100%;
  position: relative;
}
.miniBn-left {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10%;
  /* gap: 10%; */
  /* background-color: blueviolet; */
  margin-bottom: 140px;
  /* gap: 6.5%; */
}
.minibn-img {
  width: 70%;
}
.minibn-img > img {
  width: 100%;
}

.miniBn-rigth {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 10%;
  /* gap: 10%; */
  /* background-color: blueviolet; */
  margin-bottom: 140px;
  /* gap: 6.5%; */
}
/* 버튼 */
.more-btn {
  display: flex;
  gap: 30px;
  align-items: center;
  /* width: 320px; */
}

.more-btn > div {
  width: 30px;
  height: 100%;
}
.more-btn div > img {
  width: 100%;
}
.more-btn > p {
  padding-top: 3%;
  font-weight: bold;
  font-size: 30px;
}
/* 반응형============================================ */
@media screen and (max-width: 900px) {
  .miniBn-left {
    margin-bottom: 50px;
  }
  .more-btn {
    gap: 20px;
  }
  .more-btn > div {
    width: 18px;
  }
  .more-btn > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .miniBn-left {
    margin-bottom: 40px;
  }
  .more-btn {
    gap: 12px;
  }
  .more-btn > div {
    width: 13px;
  }
  .more-btn > p {
    font-size: 20px;
  }
}
@media screen and (max-width: 400px) {
  .miniBn-left {
    margin-bottom: 30px;
  }
  .more-btn {
    gap: 5px;
  }
  .more-btn > div {
    width: 7px;
  }
  .more-btn > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 320px) {
  .miniBn-left {
    margin-bottom: 20px;
  }
  .more-btn {
    gap: 5px;
  }
  .more-btn > div {
    width: 7px;
  }
  .more-btn > p {
    font-size: 12px;
  }
}
