.popup-store {
  position: relative;
  display: block;
  width: 100%;
  overflow: hidden;
  margin-bottom: 300px;
}
.popup-inner {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 70%;
}
.popup-count{
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  height: 300px;
  /* margin: 0 auto; */
  text-align: center;
  background-color: #FFC898;
  border-radius: 50%;
  padding: 20px 0;
}
.popup-count p span{
  font-size: 40px;
  font-weight: 800;
  color: rgb(255, 0, 0);
}
.popup-title {
  position: relative;
  display: block;
  font-weight: bold;
}
.popup-title h2 {
  font-size: 50px;
  margin-bottom: 50px;
}
.popup-title h4 {
  font-size: 30px;
  margin-bottom: 10px;
}
.popup-count p {
  font-size: 20px;
  margin-bottom: 10px;
  margin-top: 40px;
  font-weight: 600;
}
.popup-img-intro {
  width: 100%;
  height: 26.66vw;
  display: flex;
  justify-content: space-between;
  max-height: 560px;
  margin-top: 30px;
 
}
.left {
  width: 40%;
  max-width: 560px;
  border-radius: 10px;
  overflow: hidden;
}
.left img {
  width: 100%;
}
.right {
  width: 59%;
  display: flex;
  flex-direction: column;
  gap: 5%;
 
}
.second-store,
.third-store {
  height: calc(100% / 2); 
  border-radius: 10px;
  overflow: hidden;
}
.right img {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 
}
/* 부모 요소에 position: relative 추가 */
.first-store,
.second-store,
.third-store {
  position: relative;
}

/* 타이틀이 사진 위에 오도록 absolute로 설정 */
.popup1-title,
.popup2-title,
.popup3-title {
  position: absolute;
  top: 10px; /* 사진 아래쪽에 위치 */
  left: 10px;
  color: white; /* 글씨를 흰색으로 변경 */
  z-index: 10; /* 이미지 위에 타이틀을 나타내기 위해 z-index 설정 */
  padding: 5px 10px;
  border-radius: 8px;
}
.first-store h3,
.second-store h3,
.third-store h3 {
  position: absolute;
  top: 50%; /* 사진 아래쪽에 위치 */
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; /* 글씨를 흰색으로 변경 */
  z-index: 10; /* 이미지 위에 타이틀을 나타내기 위해 z-index 설정 */
  padding: 10px;
  border-radius: 8px;
}

/* 타이틀 글자 크기 조절 */
.popup1-title h2,
.popup2-title h2,
.popup3-title h2 {
  font-size: 40px;
  margin-bottom: 5px;
}

.first-store h3,
.second-store h3,
.third-store h3 {
  font-size: 50px;
}

.popup1-title p,
.popup2-title p,
.popup3-title p {
  font-size: 15px;
}
