@charset "utf-8";

/* 배너 */
.subpage-inner {
  width: 70%;
  margin: 0 auto;
}
.subpage-banner {
  width: 100%;
  height: 500px;
  overflow: hidden;
}

.subpage-banner > img {
  width: 100%;
  object-fit: cover; /* 이미지의 크기를 요소에 맞추고 중앙에 배치 */
  object-position: center; /* 이미지 중심을 가운데로 설정 */
}
.subpage-button {
  display: flex;
}
.subpage-button-kind {
  width: calc(100% / 4);
}
.subpage-button-kind.active {
  color: rgb(43, 226, 43);
}
.subpage-kind {
  display: none;
}
.subpage-kind.active {
  display: block;
}
/* gift */
.subpage-gift-button {
  display: flex;
}

.productimg {
  position: relative;
}

.gift {
  width: 100%;
}

.gift-product {
  width: calc(100% / 3.3);
  display: inline-block;
  margin: 0 20px; /* 원하는 간격 설정 (예: 10px) */
}
.gift-button {
  background-color: aqua;
  cursor: pointer;
}
.veganpage {
  width: 100%;
}

.vegan-product {
  width: calc(100% / 3.3);
  display: inline-block;
  margin: 0 20px; /* 원하는 간격 설정 (예: 10px) */
}
