@charset "utf-8";

/* 배너 */
.subpage-inner {
  width: 70%;
  margin: 0 auto;
}
.subpage-banner {
  /* padding-top: 150px; */
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-bottom: 10%;
}

.subpage-banner > img {
  width: 100%;
  object-fit: cover; /* 이미지의 크기를 요소에 맞추고 중앙에 배치 */
  object-position: center; /* 이미지 중심을 가운데로 설정 */
}
/* 버튼 */
.subpage-button {
  text-align: center;
  display: flex;
  gap: 100px;
  font-size: 30px;
  font-weight: bold;
}
.subpage-button-kind {
  padding-bottom: 1%;
  position: relative; /* 자식 요소가 절대 위치를 가질 수 있도록 설정 */
  overflow: hidden;
  width: calc(100% / 4);
  color: #fff;
  aspect-ratio: 1;
  margin-bottom: 10%;
  border-radius: 200px;
  display: flex; /* 텍스트 중앙 정렬을 위한 flexbox */
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

.subpage-button-kind:nth-child(1) {
  background: url("../images/menu1.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.subpage-button-kind:nth-child(2) {
  background: url("../images/menu2.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.subpage-button-kind:nth-child(3) {
  background: url("../images/menu3.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.subpage-button-kind:nth-child(4) {
  background: url("../images/menu4.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.subpage-button-kind:nth-child(5) {
  overflow: hidden;
  background: url("../images/menu5.png") no-repeat;
  background-size: cover;
  background-position: center;
}
.subpage-button-kind::after {
  content: ""; /* 가상 요소에 내용 추가 */
  position: absolute; /* 절대 위치 지정 */
  left: 50%; /* 중앙 정렬을 위한 왼쪽 위치 */
  top: 65%; /* h3 아래에 위치 */
  transition: all 1s; /* 가상 요소의 트랜지션 */
  width: 0; /* 기본 너비 */
  border-bottom: #fff solid 3px; /* 경계 스타일 */
  opacity: 0; /* 기본 상태에서 가리기 */
  transform: translate(-50%, -65%); /* 중앙 정렬을 위한 변환 */
}

.subpage-button-kind.active::after {
  /* 수정된 선택자 */
  opacity: 1; /* 가시성 */
  width: 40%; /* 너비 설정 */
}
.subpage-button-kind:hover::after {
  /* 수정된 선택자 */
  opacity: 1; /* 가시성 */
  width: 40%; /* 너비 설정 */
}

.subpage-kind {
  display: none;
}
.subpage-kind.active {
  display: block;
}
.productimg {
  position: relative;
}

/* =========== */

.subpage-main {
  margin-bottom: 20%;
}
.subpage-gift-button,
.subpage-dessert-button,
.subpage-meal-button {
  display: flex;
  /* margin-bottom: 100px; */
}

.gift-product,
.vegan-product,
.dessert-product,
.meal-product,
.pet-product {
  padding: 2%;
  width: calc(100% / 3);
  display: inline-block;
  margin: 0 auto; /* 원하는 간격 설정 (예: 10px) */
}
.gift-button,
.desset-button,
.meal-button {
  cursor: pointer;
}
.subpage-gift-button {
  position: relative;
}

.subbt {
  text-align: center;
  position: relative;
  width: 20%;
  display: block;
  height: 80px;
  /* padding: 5% 10%; */
  margin: 0 auto;
  font-size: 20px;
  font-weight: bold;
  transition: font-size 0.3s ease; /* 부드러운 전환 효과 추가 */
}

.subbt::after {
  content: "";
  display: block;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 40%;
  height: 5px;
  background-color: saddlebrown;
}
.subbt:hover {
  font-size: 25px; /* 호버 시에만 해당 버튼의 크기 증가 */
}

/* =========페이지 네이션 */

.subpage-pagination {
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 20px;
  width: 80%;
  text-align: center;
  /* display: flex; */
  /* display: inline-block; */
  margin: 0 auto;
  margin-top: 10%;
  /* gap: 50px; */
  font-size: 18px;
}

.page-link {
  width: 10%;
}
.page-link.active-page {
  width: 30px;
  line-height: 30px;
  color: white;
  background-color: saddlebrown;
  border-radius: 50%;
  font-weight: bold;
}
/* ==========반응형 */

@media (max-width: 1000px) {
  .subpage-button {
    gap: 10px;
  }
  .subpage-button-kind {
    font-size: 20px;
    /* margin-bottom: 80px; */
  }
  .subpage-button-kind::after {
    top: 70%; /* h3 아래에 위치 */
    transform: translate(-50%, -70%); /* 중앙 정렬을 위한 변환 */
  }
}
@media (max-width: 800px) {
  .subpage-banner {
    height: 300px;
  }
  .subbt {
    width: 35%;
    height: 50px;
    font-size: 18px;
  }
  .subbt:hover {
    font-size: 20px;
  }
  .subpage-button-kind {
    margin-bottom: 15%;
  }
  .subpage-pagination {
    width: 100%;
  }

  .subpage-pagination {
    gap: 0;
  }

  .page-link {
    width: 15%;
  }
}

@media (max-width: 600px) {
  .gift-product,
  .vegan-product,
  .dessert-product,
  .meal-product,
  .pet-product {
    padding: 2%;
    width: calc(100% / 2);
    display: inline-block;
    margin: 0 auto; /* 원하는 간격 설정 (예: 10px) */
  }
  .subpage-button {
    text-align: center;
    display: flex;
    overflow-x: auto; /* 가로 스크롤 허용 */
    white-space: nowrap; /* 버튼이 한 줄로 유지되도록 설정 */
    scrollbar-width: none; /* 파이어폭스에서 스크롤바 숨김 */
    -ms-overflow-style: none; /* IE에서 스크롤바 숨김 */
  }

  .subpage-button-kind {
    font-size: 18px;
    flex: 0 0 33.3333%; /* 3개의 버튼만 첫 화면에 보이도록 설정 */
    margin-bottom: 15%;
  }
}
@media (max-width: 500px) {
  .subpage-banner {
    height: 200px;
  }
  /* .subpage-gift-button, */
  .subpage-dessert-button,
  .subpage-meal-button {
    flex-wrap: wrap;

    /* flex-direction: column; */
    gap: 0px;
  }

  .subbt {
    height: 60px;
    width: calc(100% / 2);
    font-size: 15px;
    margin-bottom: 0;
  }
  .subbt:hover {
    font-size: 18px;
  }
  .subbt::after {
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 3px;
  }
}
