@charset "utf-8";
/* target */

.target-swiper {
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: 300px;
}

.target-warp {
  margin: 0 auto;
  width: 70%;
}
.swipersection-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swipersection-title > h4 {
  margin: 50px 0;

  width: 70%;
  font-size: 50px;
}
.swiper-more-button > p {
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
}
.swiper-more-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 15%;
}
.swipersection-title .more-btn img {
  width: 15px;
}

.targetSwiper {
  width: 100%;
}
