@charset "utf-8";
/* target */

.target-swiper {
  position: relative;
  width: 100%;
  background-color: antiquewhite;
  margin-bottom: 300px;
}

.target-warp {
  position: relative;
  margin: 0 auto;
  width: 70%;
}
.swipersection-title {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.swipersection-title > h4 {
  background-color: antiquewhite;
  margin: 50px 0;
  width: 80%;
  font-size: 50px;
}
.enter,
.enter2,
.enter3 {
  display: none;
}
.swiper-more-button > p {
  width: 80%;
  padding-top: 5px;
  font-size: 25px;
  font-weight: bold;
}
.swiper-more-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 12%; */

  /* gap: 5%; */
}
.swipersection-title .more-btn img {
  width: 15px;
}

.targetslide-img {
  position: relative;
}

/* 펫 스와이퍼 */
.pet-swiper {
  width: 100%;
  background: url("../images/pet-bg.jpg") no-repeat;
  background-position: center;
  background-size: 100% auto; /* 가로를 전부 맞추고 세로는 자동 */
  position: relative;
  background-color: antiquewhite;
  margin-bottom: 300px;
}
.pet-warp {
  position: relative;
  margin: 0 auto;
  width: 70%;
}
.pet-text {
  background-color: antiquewhite;
}
.pet-img {
  position: relative;
}

/* 반응형 */
@media (max-width: 1500px) {
  .enter {
    display: block;
  }
}
@media (max-width: 1200px) {
  .swiper-more-button > p {
    font-size: 18px;
  }
  .swipersection-title > h4 {
    font-size: 35px;
  }
}

@media (max-width: 1000px) {
  .swipersection-title > h4 {
    width: 70%;
    font-size: 30px;
  }
  .swiper-more-button > p {
    font-size: 15px;
  }
  .swipersection-title .more-btn img {
    width: 10px;
  }
  .enter3 {
    display: block;
  }
}
@media (max-width: 800px) {
  .swipersection-title > h4 {
    font-size: 25px;
    margin: 25px 0;
  }

  .enter {
    display: none;
  }
  .enter2 {
    display: block;
  }
}
@media (max-width: 500px) {
  .swipersection-title > h4 {
    padding-top: 25px;
    margin-bottom: 10px;
    font-size: 20px;
    width: 100%;
  }

  .swipersection-title {
    display: block;
  }
  .swiper-more-button {
    width: 30%;
    margin-left: 80%;
    margin-bottom: 10px;
    font-size: 12px;
  }
  .swiper-more-button > p {
    font-size: 8px;
  }
  .swipersection-title .more-btn img {
    width: 5px;
  }
}
